<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Número de inputs">
  <meta name="author" content="Gabriel de Nadai">
  <title>Mensagem</title>
</head>
<body>
    <div id="numinput">

    </div>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="{{ url_for('static', filename='js/numinput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pusher.js') }}"></script>
</body>
</html>
